<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";

  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load data
  let data = [];
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  let transformed_data = {};

  $: {
    data.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = { heating: [], cooling: [] };
      }
      transformed_data[d.city]["heating"].push(d.heating);
      transformed_data[d.city]["cooling"].push(d.cooling);
    });
  }

  $: {
    data.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = {};
      }
      if (!(d.month in transformed_data[d.city])) {
        transformed_data[d.city][d.month] = { heating: [], cooling: [] };
      }

      transformed_data[d.city][d.month]["heating"].push(d.heating);
      transformed_data[d.city][d.month]["cooling"].push(d.cooling);
    });
  }

  $: console.log(transformed_data);

  // $: console.log(extent(data.map((d) => d.heating))); //1849 tot 149400
  // $: console.log(extent(data.map((d) => d.cooling))); // 1782 tot 49784

  // First extent function on electricity/gas -> [0] = min, [1] = max
  // Then maximum of the two arrays with math.max

  $: DomainMax = Math.max(
    extent(data.map((d) => d.heating))[1],
    extent(data.map((d) => d.cooling))[1]
  );
  // $: console.log(DomainMax); // 149400

  // Constants
  let CenterCircleY = 135;
  let Radius = 75;

  // Scale
  $: Scale = scaleLinear()
    .domain([0, DomainMax])
    .range([0, Radius - 5]);

  // Path Generator
  let PathGenerator = (d) => {
    let Path = "M";
    let Angle = [];
    d.forEach((energy, index) => {
      Angle = (index / 365) * 2 * Math.PI;
      Path +=
        " " +
        (Radius + Math.sin(Angle) * Scale(energy)) +
        "," +
        (CenterCircleY - Math.cos(Angle) * Scale(energy));
    });
    return Path + " Z";
  };

  // Position Legend
  let LegendRectX = 245;
  let LegendRectY = 240;
  let LegendTextX = LegendRectX + 55;
  let LegendTextY = LegendRectY + 12;
</script>

<div class="wrapper">
  <h2>Design 2: Heating and cooling within a year</h2>

  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(transformed_data) as city, index}
        <g transform="translate({15 + index * (45 + 2 * Radius)}, 0)">
          <!--  Title -->
          <text x={Radius} y={25} font-size="20">{city}</text>
          <!--  Circle -->
          <circle
            cx={Radius}
            cy={CenterCircleY}
            r={Radius}
            stroke="black"
            fill="none"
          />
          <!--  Horizontal line -->
          <line
            x1={Radius}
            y1={CenterCircleY - Radius}
            x2={Radius}
            y2={CenterCircleY + Radius}
          />
          <!-- Vertical line -->
          <line x1="0" y1={CenterCircleY} x2={2 * Radius} y2={CenterCircleY} />
          <!-- Path Generator : #EF0107 = Arsenal Red, #0000CD = Medium Blue -->
          <path
            d={PathGenerator(transformed_data[city]["heating"])}
            stroke="#EF0107"
          />
          <path
            d={PathGenerator(transformed_data[city]["cooling"])}
            stroke="#0000CD"
          />
          <!-- Labels x-axis -->
          <text transform="translate({2 * Radius + 10}, {CenterCircleY + 5})"
            >3</text
          >
          <text transform="translate(-10, {CenterCircleY + 5})" text>9</text>
          <!-- Labels Y-axis -->
          <text transform="translate({Radius}, {CenterCircleY - Radius - 7})"
            >0</text
          >
          <text transform="translate({Radius}, {CenterCircleY + Radius + 15})"
            >6</text
          >
        </g>
      {/each}

      <!-- Arrow (arrow head is written in design 3) -->
      <path
        d=" M 135 55 A 90 90 0 0 1 170 90"
        stroke="black"
        fill="none"
        marker-end="url(#arrowhead)"
      />

      <!-- Label -->
      <text
        font-size="14"
        x={160}
        y={-70}
        text-anchor="middle"
        transform="rotate(45)"
      >
        month
      </text>

      <!-- Legend -->
      <rect
        x={LegendRectX}
        y={LegendRectY}
        width="15"
        height="15"
        fill="#EF0107"
        stroke="black"
        stroke-opacity="1"
      />
      <text font-size="15" x={LegendTextX} y={LegendTextY}> Heating </text>

      <rect
        x={LegendRectX}
        y={LegendRectY + 25}
        width="15"
        height="15"
        fill="#0000CD"
        stroke="black"
        stroke-opacity="1"
      />
      <text font-size="15" x={LegendTextX} y={LegendTextY + 25}> Cooling </text>
    </g>
  </svg>
</div>

<style>
  .wrapper {
    display: block;
  }

  h2 {
    text-align: center;
  }

  svg {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: auto;
  }

  text {
    text-anchor: middle;
  }

  line {
    stroke: black;
  }

  path {
    stroke-width: 0.5;
    fill-opacity: 0;
  }
</style>
