<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";

  // Size and margins
  const width = 600;
  const height = 420;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data = [];

  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  // $: console.log(data);

  // Transformed data
  let transformed_data = {};

  $: {
    data.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = {};
      }
      if (!(d.buildingtype in transformed_data[d.city])) {
        transformed_data[d.city][d.buildingtype] = [];
      }
      transformed_data[d.city][d.buildingtype].push(d.total_heating_energy);
    });
  }

  // $: console.log(transformed_data);
  // $: console.log(extent(data.map((d) => d.total_heating_energy)));

  // Radio type selection of the location
  let Locations = ["Baltimore", "Chicago", "Los Angeles"];

  // Selected City
  let SelectedCity = {};
  // Initialize
  $: if ("Chicago" in transformed_data) {
    SelectedCity = transformed_data["Chicago"];
    // $: console.log(SelectedCity);
  }

  // Select City
  function SelectCity(event) {
    SelectedCity = transformed_data[event.currentTarget.value];
    //$: console.log(SelectedCity);
  }

  // Constants for drawing the lines
  let XdomainMax = 31 * 24; // 31 days * 24 hours
  let XrangeMin = 200;
  let XrangeMax = 575;
  let Yrange = 12;

  // Scales
  $: xScale = scaleLinear()
    .domain([0, XdomainMax])
    .range([XrangeMin, XrangeMax]);
  $: yScale = scaleLinear()
    .domain(extent(data.map((d) => d.total_heating_energy))) // Min = 0, Max = 3769.21
    .range([Yrange, 0]); // Y-axis goes from top to bottom so first maximum and then minimum

  // Selected Scale
  let SelectedScale = "Within"; // Within building types

  // Select Scale
  function SelectScale(event) {
    SelectedScale = event.currentTarget.value;
    // console.log(SelectedScale)
  }

  // Path Generator + scale option
  let ScaleAndPathFunction = (SelectedScale, d) => {
    // $: console.log(SelectedScale)
    // $: console.log(d)
    if (SelectedScale == "Within") {
      yScale = scaleLinear()
        .domain([0, Math.max(...d)]) // Max within building types
        .range([Yrange, 0]);
    } else {
      yScale = scaleLinear()
        .domain(extent(data.map((d) => d.total_heating_energy))) // Max across all building types
        .range([Yrange, 0]);
    }
    // $: console.log(Math.max(...d))
    // $: console.log(extent(data.map((d) => d.total_heating_energy)));

    let Path = "M" + xScale(0) + "," + yScale(0); // Starting point:    xScale(0) = XrangeMin = 200   &  yScale(0) = Yrange = 12
    // $: console.log(xScale(0))
    // $: console.log(yScale(0))
    d.forEach((energy, index) => {
      Path += "L" + xScale(index) + "," + yScale(energy); // Energy use over time
    });
    Path += "L" + xScale(744) + "," + yScale(0); // End point:      xScale(744) = XrangeMax = 575   &  yScale(0) = Yrange = 12
    // End point without scale is (x,0) -> otherwise the baseline goes up and shows "negative values" for total energy use
    return Path;
  };

  // &nbsp; = adding space in html script
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div class="wrapper">

    <h2>Design 1: Energy use over multiple days</h2>

    <div class="col">

      <div class="position">
        <p>Location: &nbsp;</p>
        <div class="row">
          {#each Locations as loc}
            <label>
              <input
                type="radio"
                name="city"
                value={loc}
                on:click={SelectCity}
              />
              {loc}
            </label>
          {/each}
        </div>
      </div>

      <div class="position">
        <p>Scaling: &nbsp;</p>
        <div class="row">
          <label>
            <input
              type="radio"
              name="scale"
              value="Across"
              on:click={SelectScale}
            />
            Across all building types
          </label>

          <label>
            <input
              type="radio"
              name="scale"
              value="Within"
              on:click={SelectScale}
            />
            Within each building type
          </label>
        </div>

      </div>

    </div>

    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        <!--  -->

        {#each Object.keys(SelectedCity) as buildingtype, index}
          <g transform="translate(0, {index * 25})">
            <text transform="translate({XrangeMin - 10}, 15)" text-anchor="end"
              >{buildingtype}</text
            >

            <path
              d={ScaleAndPathFunction(
                SelectedScale,
                SelectedCity[buildingtype]
              )}
            />
            <path
              transform="translate(0,{2 * Yrange}) scale(1, -1)"
              d={ScaleAndPathFunction(
                SelectedScale,
                SelectedCity[buildingtype]
              )}
            />
          </g>
        {/each}
      </g>
    </svg>
  </div>
{/if}

<style>
  .wrapper {
    display: block;
  }

  .position {
    display: flex;
  }

  svg {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
  }
</style>
