<script>

const student = { name: 'Charlotte Vercammen', sport1:'bodypower', sport2: 'pilates', sport3: 'mountain climbing', sport4:'kayaking', sport5: 'skiing', };

</script>


<p>My name is {student.name} and these are some of my favourite things: {student.sport1}, {student.sport2}, {student.sport3}, {student.sport4}, {student.sport5} </p>
