<script>
  let count = 0
</script>
  
<div class="d-flex justify-content-center">

      <button class="btn btn-primary" on:click={() => (count = count+1)}>
          Clicked {count} times
      </button>

      <button class="btn btn-danger" on:click={() => (count = 0)}>
          Reset
      </button>

</div>
