<script>    
    
    // Dimensions
    const width = 800;
    const height = 100;
    const margin = { top: 20, right: 5, bottom: 5, left: 5 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Array
    const values = [
      { x: 2, y: 1, category: "cat1" },
      { x: 4, y: 2, category: "cat3" },
      { x: 6, y: 1, category: "cat2" },
      { x: 7, y: 3, category: "cat3" },
      { x: 9, y: 1, category: "cat2" }
    ];
    

    import {scaleLinear, scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';

    const scaleX = scaleLinear()
  .domain([0,10])
  .range([0, innerWidth]) ;
    
    const scaleY = scaleLinear()
  .domain([0,3])
  .range([innerHeight,0]) ;
  

  const scaleColour = scaleOrdinal().domain([]).range(schemeDark2)

  </script>
  
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      <!--  let extentX = extent(values, (d) => d.category); -->
      {#each values as dp}
      <line x1={scaleX(0)} y1={scaleY(0)} x2={scaleX(10)} y2={scaleY(0)} style="stroke:rgb(0,0,0);stroke-width:1"/>
      <line x1={scaleX(dp.x)} y1={scaleY(0)} x2={scaleX(dp.x)} y2={scaleY(dp.y)} style="stroke:rgb(0,0,0);stroke-width:1"/>
     	<circle cx={scaleX(dp.x)} cy={scaleY(dp.y)} r=5 style={"fill:" + scaleColour(dp.category)}/>
			<text class="ValueLabel" x={scaleX(dp.x)} y={scaleY(dp.y)-10}> {dp.y} </text>
      {/each}

    
        
    </g>
  </svg>
  
  <style>
    text {
      text-anchor: middle;
      font-size: small;
    }
  </style>
